* {
    font-family: "Fabrica" !important;
    
}

.images {
    width: 700px;
    height: 450px;
}

.ct-chart {

    padding-top: 100px;
    padding-bottom: 500px;
    page-break-after: always;
    width: 700px;
    height: 450px;
    border: 0px black solid;
    margin: auto;

}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: red !important;
  color: red !important;
}

.ct-chart1 {

    padding-top: 100px;
    padding-bottom: 500px;
    page-break-after: always;
    width: 700px;
    height: 450px;
    border: 0px black solid;
    margin: auto;

}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: red !important;
  color: red !important;
}

.ct-chart2 {

    padding-top: 100px;
    padding-bottom: 500px;
    page-break-after: always;
    width: 700px;
    height: 450px;
    border: 0px black solid;
    margin: auto;

}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: red !important;
  color: red !important;
}